ion-content {
    --background: #ffffff !important;
    --color: #000000 !important;
}

ion-toolbar {
    --background: #f4f5f8 !important;
    --color: #000000 !important;
}

.d-flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Controla la altura interna útil */
  margin-top: -30px; /* 🚀 ¡ESTA LÍNEA sube todo el bloque y elimina el espacio vacío! */
}

// Asegúrate de que tu formulario ocupe el ancho correcto y no tenga paddings extraños
.auth-form {
  width: 100%;
  max-width: 400px;
  padding: 10px 20px;
}