<app-header title="Recuperar Cuenta" [backButton]="true"></app-header>

<ion-content class="ion-padding">
  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()">
      <app-logo></app-logo>

      <app-custom-input 
        autocomplete="email" 
        icon="mail-outline" 
        [control]="form.controls.email" 
        type="email" 
        label="Correo">
      </app-custom-input>

      <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
        Recuperar
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
